<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-6">
        <h4>{{site.title}}</h4>
        <em>Currently this is created & maintained by me, <a href="https://brennannovak.com" target="_blank">Brennan Novak</a>, read the <a href="/about">about</a> page to learn more + contribute. The content is constantly changing and the structure is all likely to change, sooner than later ;)</em>
      </div>
    </div>

  </div>

</footer>
